body {
  margin: 0;
  padding: 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  background: black;
}
.logo {
  color: #ffffff;
}
.logo h1 {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
.menu ul {
  display: flex;
  margin-right: 150px;
  margin-top: 0;
}
.menu li {
  color: #ffffff;
  list-style-type: none;
  padding: 15px;
  font-size: 18px;
}
.menu li:hover {
  color: red;
}
.banner-container {
  background: black;
  display: flex;
  width: 100%;
  height: 100vh;
}
.banner-text {
  margin-left: 70px;
  padding-top: 100px;
}
.banner-text h2 {
  font-size: 70px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}
.banner-text h4 {
  color: red;
  font-size: 25px;
}
.banner-text p {
  color: gray;
  font-size: 22px;
  font-weight: 700;
}
.banner-image img {
  width: 90%;
  padding-left: 8%;
}
.banner-btn {
  padding: 18px 38px;
  background: red;
  margin: 10px;
  font-size: 18px;
  color: white;
}
.banner-btn:hover {
  background: blue;
}
